<main id="main" class="main">

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item"><a href="/admin/contact">Contact Us</a></li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
           <div class="mt-4 mb-4">
                <h2 class="mt-5 mb-5 border border-success bg-success text-white rounded   " style="text-align: center;">Contact Us Create</h5>

              </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
          </div>
          <!-- Floating Labels Form -->
          <form class="row g-3 my-3" method="post" action="/admin/contact/{{Contact.id}}/update"encType="multipart/form-data">
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control" value="{{Contact.title}}" placeholder="Title" name="title">
                <label>Title</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea type="text" class="form-control" value="{{Contact.details}}" placeholder="Details" style="height: 100px;" name="details"></textarea>
                <label>Details</label>
              </div>
            </div>
            <div class="col-md-12">
               {{!-- <label>Image Icon</label>
              <div class="form-floating">
                <img src="/{{contact.image}}" width="200px" alt="">
                <input type="file" class="form-control" name="image">
               
              </div> --}}
              <div>
                {{!-- <label for="formFileLg" class="form-label">Image</label> --}}
                 {{!-- <img src="/{{about.image}}" width="200px" class="border border-info mb-1" alt="{{about.title}}"> --}}
                 <img src="/{{Contact.image}}" width="200px" class="border border-info mb-1" alt="{{contact.title}}">
                 <input class="form-control form-control-lg" id="formFileLg" placeholder="Image" name="image" type="file">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Update</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- End floating Labels Form -->

        </div>
      </div>

    </div>
  </section>

</main><!-- End #main -->